<!DOCTYPE html>
<html>
    <head>
        <title>XYZ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        <img src="https://previews.dropbox.com/p/thumb/AAL7pWMxAdKVQmD9o3GwzXhSHyeVQUeiIu6h2NgWJebvrbFcxSYvbtLzqlmKfoc_JlnJWmCDt6pIXaxyCA2XGdSq4DWkGO8XDjdDkD7VwB9Z-VGNTGti9CYGZNvptjg1XboWJCY_3IAyjaCpfZlqYdMhXaxTCTvZggkqFY554CIb4A/p.jpeg?size=1600x1200&size_mode=3">
 		<h1>Welcome to PlacePlus</h1>
		<!--<a href="/events" class="btn btn-lg btn-success">View All Events</a> -->
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>